name: Build

on:
  push:

jobs:
  build:
    name: build
    runs-on: "ubuntu-latest"
    timeout-minutes: 500
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      # - name: Build
      #   timeout-minutes: 360
      #   run: ./docker-build.sh
      - name: no docker
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            wget \
            build-essential \
            clang \
            python3-dev \
            libffi-dev \
            libssl-dev \
            zlib1g-dev \
            libbz2-dev \
            libreadline-dev \
            libsqlite3-dev \
            libncurses5-dev \
            libncursesw5-dev \
            xz-utils \
            tk-dev \
            libxml2-dev \
            libxmlsec1-dev \
            liblzma-dev \
            cmake make ninja-build pkg-config autoconf automake libtool \
            gfortran \
            gcc \
            g++ \
            llvm \
            llvm-dev \
            liblapack-dev \
            libblas-dev \
            libopenblas-dev \
            git \
            libtiff5-dev libjpeg8-dev libopenjp2-7-dev zlib1g-dev \
            libfreetype6-dev liblcms2-dev libwebp-dev tcl8.6-dev tk8.6-dev python3-tk \
            libharfbuzz-dev libfribidi-dev libxcb1-dev \
            python3-numpy \
            libgeos-dev
      - name: get graalpy
        run: ./download-graalpy.sh
      - name: setup python
        run: |
          echo "" >> graalpy-25.0.1-linux-amd64/lib/graalpy25.0/patches/metadata.toml
          echo "[[pythran.rules]]" >> graalpy-25.0.1-linux-amd64/lib/graalpy25.0/patches/metadata.toml
          echo "version = '== 0.18.0'" >> graalpy-25.0.1-linux-amd64/lib/graalpy25.0/patches/metadata.toml
          echo "install-priority = 0" >> graalpy-25.0.1-linux-amd64/lib/graalpy25.0/patches/metadata.toml
          echo "" >> graalpy-25.0.1-linux-amd64/lib/graalpy25.0/patches/metadata.toml

          graalpy-25.0.1-linux-amd64/bin/graalpy -I -m ensurepip
          graalpy-25.0.1-linux-amd64/bin/graalpy -m pip install --upgrade pip setuptools wheel
      - name: wheel treesitter
        timeout-minutes: 360
        run: ./build-treesitter.sh
      # pythran breaks at version 0.18.1
      - name: wheel pythran
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose pythran==0.18.0
      - name: wheel pillow
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose pillow==11.3.0
      - name: wheel numpy
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose numpy==2.2.6
      - name: wheel shapely
        timeout-minutes: 360
        run: |
          export CFLAGS="-I$(python3 -c 'import numpy; print(numpy.get_include())') $CFLAGS"
          graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose shapely==2.1.2
      - name: wheel pandas
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose pandas==2.2.3
      - name: wheel scipy
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose scipy==1.16.3
        # to inhibit the mechanism that downloads newer metadata from github. You can do that when you set the PIP_GRAALPY_PATCHES_URL to an empty string
        env:
          PIP_GRAALPY_PATCHES_URL: ""
      - name: wheel torch
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose torch==2.7.0
      - name: wheel docling
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose docling==2.58.0
        
        