name: Build

on:
  push:

jobs:
  build:
    name: build
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Build
        run: ./docker-build.sh
