name: Build

on:
  push:

jobs:
  build:
    name: build
    runs-on: "ubuntu-latest"
    timeout-minutes: 500
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      # - name: Build
      #   timeout-minutes: 360
      #   run: ./docker-build.sh
      - name: no docker
        run: |
          apt-get install -y \
            wget \
            build-essential \
            clang \
            python3-dev \
            libffi-dev \
            libssl-dev \
            zlib1g-dev \
            libbz2-dev \
            libreadline-dev \
            libsqlite3-dev \
            libncurses5-dev \
            libncursesw5-dev \
            xz-utils \
            tk-dev \
            libxml2-dev \
            libxmlsec1-dev \
            liblzma-dev \
            cmake make ninja-build pkg-config autoconf automake libtool \
            gfortran \
            gcc \
            g++ \
            llvm \
            llvm-dev \
            liblapack-dev \
            libblas-dev \
            libopenblas-dev \
            git
      - name: get graalpy
        run: ./download-graalpy.sh
      - name: setup python
        run: |
          graalpy-25.0.1-linux-amd64/bin/graalpy -I -m ensurepip
          graalpy-25.0.1-linux-amd64/bin/graalpy -m pip install --upgrade pip setuptools wheel
      - name: wheel pandas
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose pandas=2.2.3
      - name: wheel numpy
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose numpy=2.2.6
      - name: wheel scipy
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose scipy=1.16.3
      - name: wheel torch
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose torch=2.7.0
      - name: wheel docling
        timeout-minutes: 360
        run: graalpy-25.0.1-linux-amd64/bin/graalpy -m pip wheel --verbose docling==2.58.0
        
        